
      frontend tf_demo_vault
        mode tcp
        option tcplog
        bind *:8200
        default_backend tf_vault

      backend tf_vault
        mode tcp
        option tcplog
        balance roundrobin
      {% for guest in vault_instances.value | json_query(query) %}  server {{ guest.vm_name }} {{ guest.ip_address }}:8200 check
      {% endfor %}
